Cts.Bian.SavingAccountService/Schemas/CurrentAccount_v2_API.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/current-account/v2/T1593785628494Converted/JsonSchema" xmlns:tns="/current-account/v2/T1593785628494Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="feeProjectionsandCommitments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="feeAccrualAmount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositType" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDescription" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDescription"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionDescription" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionDescription"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionCurrency" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionCurrency"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionCurrency">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord" type="tns:currentAccountFulfillmentArrangementInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="accountCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimit" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimitType" type="xs:string"/>
            <xs:element minOccurs="0" name="accountStatus" type="xs:string"/>
            <xs:element minOccurs="0" name="accountType" type="xs:string"/>
            <xs:element minOccurs="0" name="allowedAccess" type="xs:string"/>
            <xs:element minOccurs="0" name="bankBranchLocationReference" type="xs:string"/>
            <xs:element minOccurs="0" name="customerCommentary" type="xs:string"/>
            <xs:element minOccurs="0" name="customerReference" type="xs:string"/>
            <xs:element minOccurs="0" name="date" type="xs:string"/>
            <xs:element minOccurs="0" name="dateType" type="xs:string"/>
            <xs:element minOccurs="0" name="involvedPartyObligationEntitlement" type="xs:string"/>
            <xs:element minOccurs="0" name="involvedPartyReference" type="xs:string"/>
            <xs:element minOccurs="0" name="option" type="xs:string"/>
            <xs:element minOccurs="0" name="optionType" type="xs:string"/>
            <xs:element minOccurs="0" name="partyReference" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="currentAccountNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="taxReference" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionSourceReference" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionSourceReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionSourceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeType" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeType" type="xs:string"/>
            <xs:element minOccurs="0" name="feeDefinition" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeType" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionCurrency" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionCurrency"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionCurrency">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="stringArray" type="tns:stringArray"/>
    <xs:complexType name="stringArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="string" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_dateType" type="tns:currentAccountFulfillmentArrangementInstanceRecord_dateType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_dateType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionAmount" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionAmount"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionAmount">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionSourceReference" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionSourceReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionSourceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_accountType" type="tns:currentAccountFulfillmentArrangementInstanceRecord_accountType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_accountType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementInterestInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="accuredInterestAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="applicableInterestRate" type="xs:string"/>
            <xs:element minOccurs="0" name="interestRateTransactionReference" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="rateApplicationSchedule">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="YEAR"/>
                        <xs:enumeration value="MNTH"/>
                        <xs:enumeration value="QURT"/>
                        <xs:enumeration value="MIAN"/>
                        <xs:enumeration value="WEEK"/>
                        <xs:enumeration value="DAIL"/>
                        <xs:enumeration value="ADHO"/>
                        <xs:enumeration value="INDA"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
<xs:element minOccurs="0" name="rateRateConfiguration"  type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_involvedPartyReference" type="tns:currentAccountFulfillmentArrangementInstanceRecord_involvedPartyReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_involvedPartyReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_customerReference" type="tns:currentAccountFulfillmentArrangementInstanceRecord_customerReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_customerReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord_accuredInterestAmount" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord_accuredInterestAmount"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInterestInstanceRecord_accuredInterestAmount">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord_rateRateConfiguration" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord_rateRateConfiguration"/>
    <xs:complexType name="currentAccountFulfillmentArrangementInterestInstanceRecord_rateRateConfiguration">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_partyReference" type="tns:currentAccountFulfillmentArrangementInstanceRecord_partyReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_partyReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_allowedAccess" type="tns:currentAccountFulfillmentArrangementInstanceRecord_allowedAccess"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_allowedAccess">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDepositType" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDepositType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDepositType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction"/>
    <xs:complexType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="withdrawalTransactionSourceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionWithdrawalType" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeDefinition" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeDefinition"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeDefinition">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_date" type="tns:currentAccountFulfillmentArrangementInstanceRecord_date"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_date">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeCharge" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeCharge"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeCharge">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_accountCurrency" type="tns:currentAccountFulfillmentArrangementInstanceRecord_accountCurrency"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_accountCurrency">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionDescription" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionDescription"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord_applicableInterestRate" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord_applicableInterestRate"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInterestInstanceRecord_applicableInterestRate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalType" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_productInstanceReference" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount">
        <xs:sequence>
            <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_accountStatus" type="tns:currentAccountFulfillmentArrangementInstanceRecord_accountStatus"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_accountStatus">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_involvedPartyObligationEntitlement" type="tns:currentAccountFulfillmentArrangementInstanceRecord_involvedPartyObligationEntitlement"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_involvedPartyObligationEntitlement">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_productInstanceReference" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_currentAccountNumber" type="tns:currentAccountFulfillmentArrangementInstanceRecord_currentAccountNumber"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_currentAccountNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimitType" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimitType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimitType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_accountLimit" type="tns:currentAccountFulfillmentArrangementInstanceRecord_accountLimit"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_accountLimit">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeCharge" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeCharge"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeCharge">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_bankBranchLocationReference" type="tns:currentAccountFulfillmentArrangementInstanceRecord_bankBranchLocationReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_bankBranchLocationReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDate" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDate"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_optionType" type="tns:currentAccountFulfillmentArrangementInstanceRecord_optionType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_optionType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDescription" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDescription"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionAmount" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionAmount"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionAmount">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeConfigurationProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="feeDefinition" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="feeApplicationRecord">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feeTransaction">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="feeProjectionsandCommitments">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="feeAccrualAmount">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_taxReference" type="tns:currentAccountFulfillmentArrangementInstanceRecord_taxReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_taxReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_accountLimitType" type="tns:currentAccountFulfillmentArrangementInstanceRecord_accountLimitType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_accountLimitType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord_productInstanceReference" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInterestInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction"/>
    <xs:complexType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="depositTransactionSourceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDepositType" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_productInstanceReference" type="tns:currentAccountFulfillmentArrangementInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_option" type="tns:currentAccountFulfillmentArrangementInstanceRecord_option"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_option">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeType" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDate" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDate"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimit" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimit"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimit">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionReference" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="depositType" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalType" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimit" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimitType" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="depositTransactionSourceReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDepositType" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionAmount" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionCurrency" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="withdrawalTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="withdrawalTransactionSourceReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionWithdrawalType" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionAmount" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionCurrency" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord_customerCommentary" type="tns:currentAccountFulfillmentArrangementInstanceRecord_customerCommentary"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInstanceRecord_customerCommentary">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments">
        <xs:sequence>
            <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeType" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeCharge" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeCharge"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeCharge">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionWithdrawalType" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionWithdrawalType"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionWithdrawalType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord_interestRateTransactionReference" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord_interestRateTransactionReference"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInterestInstanceRecord_interestRateTransactionReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
