Cts.Bian.SavingAccountService/Schemas/Current_Account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/T1594093360307Converted/JsonSchema" xmlns:tns="/T1594093360307Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments">
        <xs:sequence>
            <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount">
        <xs:sequence>
            <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeAccrualAmount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="feeTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="feeProjectionsandCommitments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction"/>
    <xs:complexType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="withdrawalTransactionWithdrawalType" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionSourceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionDate" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionCurrency" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeDefinition" type="xs:string"/>
            <xs:element minOccurs="0" name="feeType" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule"/>
    <xs:simpleType name="currentAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="DAIL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction"/>
    <xs:complexType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="depositTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDepositType" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionSourceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDate" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionAmount" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeConfigurationProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feeDefinition" type="xs:string"/>
                        <xs:element minOccurs="0" name="feeType" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="feeApplicationRecord">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feeAccrualAmount">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="feeTransaction">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="feeProjectionsandCommitments">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction" type="tns:currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction"/>
    <xs:complexType name="currentAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInstanceRecord" type="tns:currentAccountFulfillmentArrangementInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="accountCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimit" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimitType" type="xs:string"/>
            <xs:element minOccurs="0" name="accountStatus" type="xs:string"/>
            <xs:element minOccurs="0" name="accountType" type="xs:string"/>
            <xs:element minOccurs="0" name="allowedAccess" type="xs:string"/>
            <xs:element minOccurs="0" name="bankBranchLocationReference" type="xs:string"/>
            <xs:element minOccurs="0" name="customerCommentary" type="xs:string"/>
            <xs:element minOccurs="0" name="customerReference" type="xs:string"/>
            <xs:element minOccurs="0" name="date" type="xs:string"/>
            <xs:element minOccurs="0" name="dateType" type="xs:string"/>
            <xs:element minOccurs="0" name="involvedPartyObligationEntitlement" type="xs:string"/>
            <xs:element minOccurs="0" name="involvedPartyReference" type="xs:string"/>
            <xs:element minOccurs="0" name="option" type="xs:string"/>
            <xs:element minOccurs="0" name="optionType" type="xs:string"/>
            <xs:element minOccurs="0" name="partyReference" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="currentAccountNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="taxReference" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="stringArray" type="tns:stringArray"/>
    <xs:complexType name="stringArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="string" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementInterestInstanceRecord" type="tns:currentAccountFulfillmentArrangementInterestInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementInterestInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="accuredInterestAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="applicableInterestRate" type="xs:string"/>
            <xs:element minOccurs="0" name="interestRateTransactionReference" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="rateApplicationSchedule">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ADHO"/>
                        <xs:enumeration value="INDA"/>
                        <xs:enumeration value="MNTH"/>
                        <xs:enumeration value="WEEK"/>
                        <xs:enumeration value="MIAN"/>
                        <xs:enumeration value="YEAR"/>
                        <xs:enumeration value="QURT"/>
                        <xs:enumeration value="DAIL"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="rateRateConfiguration" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord" type="tns:currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord"/>
    <xs:complexType name="currentAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="depositType" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalType" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimit" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimitType" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="depositTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDepositType" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionSourceReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionCurrency" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDate" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionAmount" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="withdrawalTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="withdrawalTransactionWithdrawalType" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionSourceReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionAmount" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionDate" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionCurrency" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
