Cts.Bian.SavingAccountService/Schemas/SavingsAccount_v2_API.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/savings-account/v2/T1593778119584Converted/JsonSchema" xmlns:tns="/savings-account/v2/T1593778119584Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionWithdrawalType" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionWithdrawalType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionWithdrawalType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_bankBranchLocationReference" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_bankBranchLocationReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_bankBranchLocationReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_productInstanceReference" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionSourceReference" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionSourceReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionSourceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDescription" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDescription"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDate" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDate"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDescription" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDescription"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_accountLimitType" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_accountLimitType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_accountLimitType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_customerReference" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_customerReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_customerReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeType" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInterestInstanceRecord_interestRateTransactionReference" type="tns:savingsAccountFulfillmentArrangementInterestInstanceRecord_interestRateTransactionReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInterestInstanceRecord_interestRateTransactionReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalType" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeType" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeDefinition" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeDefinition"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile_feeDefinition">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInterestInstanceRecord" type="tns:savingsAccountFulfillmentArrangementInterestInstanceRecord"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementInterestInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="accuredInterestAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="applicableInterestRate" type="xs:string"/>
            <xs:element minOccurs="0" name="interestRateTransactionReference" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="rateApplicationSchedule">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="YEAR"/>
                        <xs:enumeration value="MNTH"/>
                        <xs:enumeration value="QURT"/>
                        <xs:enumeration value="MIAN"/>
                        <xs:enumeration value="WEEK"/>
                        <xs:enumeration value="DAIL"/>
                        <xs:enumeration value="ADHO"/>
                        <xs:enumeration value="INDA"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
<xs:element minOccurs="0" name="rateRateConfiguration"  type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeCharge" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeCharge"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionFeeCharge">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInterestInstanceRecord_applicableInterestRate" type="tns:savingsAccountFulfillmentArrangementInterestInstanceRecord_applicableInterestRate"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInterestInstanceRecord_applicableInterestRate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_allowedAccess" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_allowedAccess"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_allowedAccess">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionReference" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDate" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDate"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionDate">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_taxReference" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_taxReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_taxReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="stringArray" type="tns:stringArray"/>
    <xs:complexType name="stringArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="string" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="depositTransactionSourceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDepositType" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransactionDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementInterestInstanceRecord_accuredInterestAmount" type="tns:savingsAccountFulfillmentArrangementInterestInstanceRecord_accuredInterestAmount"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInterestInstanceRecord_accuredInterestAmount">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_accountLimit" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_accountLimit"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_accountLimit">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimit" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimit"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimit">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord" type="tns:savingsAccountFulfillmentArrangementInstanceRecord"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementInstanceRecord">
        <xs:sequence>
        	<xs:element minOccurs="0" name="accountCurrency"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="accountLimit"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="accountLimitType"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="accountStatus"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="accountType"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="allowedAccess"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="bankBranchLocationReference"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="customerCommentary"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="customerReference"
        		type="xs:string" />
            <xs:element name="linkedAccounts" type="tns:linkedAccountsType" minOccurs="0" maxOccurs="unbounded"></xs:element>
            <xs:element minOccurs="0" name="date" type="xs:string" />
        	<xs:element minOccurs="0" name="dateType" type="xs:string" />
        	<xs:element minOccurs="0"
        		name="involvedPartyObligationEntitlement" type="xs:string" />
        	<xs:element minOccurs="0" name="involvedPartyReference"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="option" type="xs:string" />
        	<xs:element minOccurs="0" name="optionType"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="partyReference"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="productInstanceReference"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="savingsAccountNumber"
        		type="xs:string" />
        	<xs:element minOccurs="0" name="taxReference"
        		type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_date" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_date"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_date">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeConfigurationProfile">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeType" type="xs:string"/>
            <xs:element minOccurs="0" name="feeDefinition" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeType" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionCurrency" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionCurrency"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionCurrency">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_dateType" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_dateType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_dateType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeConfigurationProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="feeDefinition" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="feeApplicationRecord">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="feeTransaction">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="feeProjectionsandCommitments">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="feeAccrualAmount">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_accountCurrency" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_accountCurrency"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_accountCurrency">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeType" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionCurrency" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionCurrency"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionCurrency">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_savingsAccountNumber" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_savingsAccountNumber"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_savingsAccountNumber">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule" type="tns:savingsAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInterestInstanceRecord_rateApplicationSchedule">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_customerCommentary" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_customerCommentary"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_customerCommentary">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_productInstanceReference" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDepositType" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDepositType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionDepositType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionSourceReference" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionSourceReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionSourceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_involvedPartyObligationEntitlement" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_involvedPartyObligationEntitlement"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_involvedPartyObligationEntitlement">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_accountType" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_accountType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_accountType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction">
        <xs:sequence>
            <xs:element minOccurs="0" name="withdrawalTransactionSourceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionWithdrawalType" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalTransactionDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="feeTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="feeProjectionsandCommitments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="feeAccrualAmount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
                        <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments">
        <xs:sequence>
            <xs:element minOccurs="0" name="projectedTransactionDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="projectedTransactionFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="projectedTransactionFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_option" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_option"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_option">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeCharge" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeCharge"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionFeeCharge">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeCharge" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeCharge"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount_accrualFeeCharge">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionAmount" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionAmount"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositTransaction_depositTransactionAmount">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_optionType" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_optionType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_optionType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInterestInstanceRecord_rateRateConfiguration" type="tns:savingsAccountFulfillmentArrangementInterestInstanceRecord_rateRateConfiguration"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementInterestInstanceRecord_rateRateConfiguration">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_involvedPartyReference" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_involvedPartyReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_involvedPartyReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="depositType" type="xs:string"/>
            <xs:element minOccurs="0" name="withdrawalType" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimit" type="xs:string"/>
            <xs:element minOccurs="0" name="accountLimitType" type="xs:string"/>
            <xs:element minOccurs="0" name="productInstanceReference" type="xs:string"/>
            <xs:element minOccurs="0" name="depositTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="depositTransactionSourceReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDepositType" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionAmount" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionCurrency" type="xs:string"/>
                        <xs:element minOccurs="0" name="depositTransactionDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="withdrawalTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="withdrawalTransactionSourceReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionWithdrawalType" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionDescription" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionAmount" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionCurrency" type="xs:string"/>
                        <xs:element minOccurs="0" name="withdrawalTransactionDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_partyReference" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_partyReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_partyReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimitType" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimitType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_accountLimitType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionDescription" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionDescription"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeTransaction_transactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionDescription" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionDescription"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeProjectionsandCommitments_projectedTransactionDescription">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInstanceRecord_accountStatus" type="tns:savingsAccountFulfillmentArrangementInstanceRecord_accountStatus"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInstanceRecord_accountStatus">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementInterestInstanceRecord_productInstanceReference" type="tns:savingsAccountFulfillmentArrangementInterestInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementInterestInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionAmount" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionAmount"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_withdrawalTransaction_withdrawalTransactionAmount">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount"/>
    <xs:complexType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_feeApplicationRecord_feeAccrualAmount">
        <xs:sequence>
            <xs:element minOccurs="0" name="accrualFeeType" type="xs:string"/>
            <xs:element minOccurs="0" name="accrualFeeCharge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_productInstanceReference" type="tns:savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_productInstanceReference"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementServiceFeesInstanceRecord_productInstanceReference">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositType" type="tns:savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositType"/>
    <xs:simpleType name="savingsAccountFulfillmentArrangementDepositsAndWithdrawalsInstanceRecord_depositType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="linkedAccountsType">
    	<xs:sequence>
    		<xs:element name="AccountType" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
    		<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
    	</xs:sequence>
    </xs:complexType>
</xs:schema>
